.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/306747330-0.jpeg");
  background-position: 50% 46.42%;
}

.u-section-1 .u-sheet-1 {
  min-height: 418px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 853px;
  font-family: Lobster;
  margin: 113px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  font-style: italic;
  background-image: none;
  text-decoration: none solid rgb(249, 231, 155);
  width: 635px;
  margin: 99px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 46.06%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 118px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-2 {
    width: 713px;
    margin-top: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin: 56px 4px 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 77px;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 540px;
    margin: 57px 0 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 75px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 23px;
    margin-bottom: 23px;
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f2f2f2, #e5e5e5);
}

.u-section-2 .u-sheet-1 {
  min-height: 395px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  width: 589px;
  margin: 74px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 88px 1001px 0 0;
}

.u-section-2 .u-group-1 {
  width: 700px;
  min-height: 194px;
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  margin: -103px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 70px 41px 0 272px;
}

.u-section-2 .u-image-1 {
  width: 150px;
  height: 149px;
  object-position: 21.41% 50%;
  background-image: url("images/1795594.0.jpg");
  margin: -96px auto 0 81px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -53px 126px 0 339px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -91px 995px 0 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin-bottom: 20px;
  margin-top: 81px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 795px;
  }

  .u-section-2 .u-group-1 {
    width: 650px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 66px;
  }

  .u-section-2 .u-image-1 {
    width: 149px;
    margin-top: -92px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 795px;
  }

  .u-section-2 .u-line-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 67px;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 94px;
    margin-right: 610px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-1 {
    width: 500px;
    min-height: 170px;
    margin-top: -90px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 53px;
    margin-left: 225px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 130px;
    height: 130px;
    margin-top: -71px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -49px;
    margin-right: 80px;
    margin-left: 263px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -80px;
    margin-right: 610px;
  }

  .u-section-2 .u-line-1 {
    margin-bottom: 10px;
    margin-top: 68px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 52px;
    margin-right: 480px;
  }

  .u-section-2 .u-group-1 {
    width: 420px;
    min-height: 110px;
    margin-top: -48px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 21px;
    margin-right: 42px;
    margin-left: 146px;
  }

  .u-section-2 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -35px;
    margin-left: 184px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -62px;
    margin-right: 480px;
  }

  .u-section-2 .u-line-1 {
    margin-bottom: 11px;
    margin-top: 52px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 55px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 22px;
    margin-right: 170px;
    margin-left: 110px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
    margin-right: 0;
    margin-left: 98px;
  }

  .u-section-2 .u-image-1 {
    background-position: 29.89% 50%;
    margin-top: -52px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -21px;
    margin-right: 64px;
    margin-left: 162px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.625rem;
    margin-top: -143px;
    margin-right: 110px;
    margin-left: 170px;
  }

  .u-section-2 .u-line-1 {
    margin-bottom: 6px;
    margin-top: 142px;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 940px;
}

.u-section-3 .u-group-1 {
  width: 562px;
  background-image: linear-gradient(#77aad9, #14528d);
  min-height: 38px;
  height: auto;
  margin: 10px 145px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  width: 410px;
  margin: 5px auto 0;
}

.u-section-3 .u-group-2 {
  width: 273px;
  background-image: linear-gradient(#72ef7c, #1aab25);
  min-height: 38px;
  height: auto;
  margin: -38px auto 0 145px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 5px 13px 0;
}

.u-section-3 .u-list-1 {
  width: 850px;
  grid-auto-rows: 100%;
  margin: 10px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 10px);
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  grid-auto-rows: calc(50% - 7.5px);
  grid-gap: 15px 15px;
  min-height: 515px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0 0px 15px 0 rgba(192,192,192,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  width: 150px;
  height: 150px;
  background-image: url("images/YouthSundaySchool1.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0 0px 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  width: 150px;
  height: 150px;
  background-image: url("images/web-1363425.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0 0px 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-image-3 {
  width: 150px;
  height: 150px;
  background-image: url("images/philippines-youth-visit-the-temple-1336810-print1.jpeg");
  background-position: 67.37% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0 0px 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-image-4 {
  width: 150px;
  height: 150px;
  background-image: url("images/GospelDoctrine.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-5 {
  box-shadow: 0 0px 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-7 {
  padding: 20px;
}

.u-section-3 .u-image-5 {
  width: 150px;
  height: 150px;
  background-image: url("images/Relief_Society_General_Meeting_Sisters.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-6 {
  box-shadow: 0 0px 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-8 {
  padding: 20px;
}

.u-section-3 .u-image-6 {
  width: 150px;
  height: 150px;
  background-image: url("images/YoungWomen.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -167px 995px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 995px 0 0;
}

.u-section-3 .u-group-3 {
  width: 850px;
  background-image: linear-gradient(#c37ff2, #550989);
  min-height: 38px;
  height: auto;
  margin: 137px auto 0 145px;
}

.u-section-3 .u-container-layout-9 {
  padding-left: 5px;
  padding-right: 5px;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  width: 410px;
  margin: 5px auto 0;
}

.u-section-3 .u-group-4 {
  width: 850px;
  background-image: linear-gradient(white, #e5e5e5);
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  min-height: 182px;
  height: auto;
  margin: 10px auto 60px 145px;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-image-7 {
  width: 150px;
  height: 148px;
  object-position: 21.41% 50%;
  background-image: url("images/primary.jpg");
  background-position: 56.15% 50%;
  margin: 17px auto 0 54px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -92px 365px 0 309px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -36px 42px 0 520px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-3 .u-group-1 {
    width: 428px;
    margin-top: 9px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    width: 283px;
    margin-top: 0;
  }

  .u-section-3 .u-group-2 {
    width: 206px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    width: 650px;
    margin-top: 8px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 447px;
  }

  .u-section-3 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-1 {
    width: 120px;
    height: 120px;
    margin-top: 7px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-2 {
    width: 120px;
    height: 120px;
    margin-top: 7px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-3 {
    width: 120px;
    height: 120px;
    margin-top: 7px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-4 {
    width: 120px;
    height: 120px;
    margin-top: 7px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-5 {
    width: 120px;
    height: 120px;
    margin-top: 7px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-6 {
    width: 120px;
    height: 120px;
    margin-top: 7px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -178px;
    margin-right: 795px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 795px;
  }

  .u-section-3 .u-group-3 {
    width: 650px;
    margin-top: 143px;
    margin-left: auto;
    height: auto;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-3 .u-group-4 {
    width: 650px;
    min-height: 156px;
    margin-top: 9px;
    margin-left: auto;
    height: auto;
  }

  .u-section-3 .u-image-7 {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 56px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: -78px;
    margin-right: 265px;
    margin-left: 248px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -51px;
    margin-right: 41px;
    margin-left: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-3 .u-group-1 {
    width: 328px;
    margin-right: 110px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    width: 244px;
    margin-top: 11px;
  }

  .u-section-3 .u-group-2 {
    width: 156px;
    margin-left: 110px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 9px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-list-1 {
    width: 500px;
    margin-top: 6px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 350px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 90px;
    height: 90px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 90px;
    height: 90px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 90px;
    height: 90px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 90px;
    height: 90px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 10px;
  }

  .u-section-3 .u-image-5 {
    width: 90px;
    height: 90px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 10px;
  }

  .u-section-3 .u-image-6 {
    width: 90px;
    height: 90px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -144px;
    margin-right: 610px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.875rem;
    margin-right: 610px;
  }

  .u-section-3 .u-group-3 {
    width: 500px;
    margin-top: 131px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-group-4 {
    width: 500px;
    min-height: 125px;
    margin-top: 7px;
  }

  .u-section-3 .u-image-7 {
    width: 90px;
    height: 90px;
    margin-top: 18px;
    margin-left: 46px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.125rem;
    width: 127px;
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-13 {
    margin-top: -47px;
    margin-right: 31px;
    margin-left: 350px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-3 .u-group-1 {
    width: 276px;
    min-height: 30px;
    margin-top: 2px;
    margin-right: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    width: 154px;
    margin-top: 0;
  }

  .u-section-3 .u-group-2 {
    width: 133px;
    min-height: 30px;
    margin-top: -30px;
    margin-left: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 8px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    width: 420px;
    margin-top: 5px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    grid-auto-rows: calc(50% - 5px);
    grid-gap: 10px 10px;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-3 .u-image-1 {
    width: 70px;
    height: 70px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-3 .u-image-2 {
    width: 70px;
    height: 70px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-3 .u-image-3 {
    width: 70px;
    height: 70px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 8px;
  }

  .u-section-3 .u-image-4 {
    width: 70px;
    height: 70px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 8px;
  }

  .u-section-3 .u-image-5 {
    width: 70px;
    height: 70px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 8px;
  }

  .u-section-3 .u-image-6 {
    width: 70px;
    height: 70px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
    margin-top: -121px;
    margin-right: 480px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.75rem;
    margin-right: 480px;
  }

  .u-section-3 .u-group-3 {
    width: 420px;
    min-height: 30px;
    margin-top: 99px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-group-4 {
    width: 420px;
    min-height: 100px;
    margin-top: 8px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-image-7 {
    width: 70px;
    height: 70px;
    margin-top: 14px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -42px;
    margin-right: 148px;
    margin-left: 126px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -30px;
    margin-right: 11px;
    margin-left: 252px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.625rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-group-1 {
    width: 225px;
    min-height: 26px;
    margin-top: 43px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.625rem;
    margin-top: 7px;
  }

  .u-section-3 .u-group-2 {
    width: 109px;
    min-height: 26px;
    margin-top: -26px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 7px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 4px);
    grid-template-columns: calc(33.3333% - 4px) calc(33.3333% - 4px) calc(33.3333% - 4px);
    grid-auto-rows: calc(50% - 3px);
    grid-gap: 6px 6px;
    min-height: 241px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 5px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 5px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 5px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 5px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 5px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 5px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
    margin-top: -300px;
    margin-right: 170px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.625rem;
    margin-top: -14px;
    margin-right: 110px;
    margin-left: 170px;
  }

  .u-section-3 .u-group-3 {
    min-height: 26px;
    margin-top: 295px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.625rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    min-height: 90px;
    margin-top: 6px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 0;
  }

  .u-section-3 .u-image-7 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.75rem;
    margin-top: -43px;
    margin-right: 117px;
    margin-left: 107px;
  }

  .u-section-3 .u-text-13 {
    font-size: 0.625rem;
    margin-top: -24px;
    margin-right: 21px;
    margin-left: 216px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 298px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin: 3px 0 0;
}

.u-section-4 .u-group-1 {
  width: 500px;
  background-image: linear-gradient(white, #e5e5e5);
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  min-height: 200px;
  margin: 26px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-image-1 {
  width: 150px;
  height: 148px;
  object-position: 21.41% 50%;
  background-image: url("images/unnamed-2.png");
  background-position: 50% 50%;
  margin: 26px auto 0 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -84px 22px 0 232px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -114px 984px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 423px;
    margin-top: 21px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 120px;
    height: 120px;
    margin-top: 21px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -72px;
    margin-right: 37px;
    margin-left: 157px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -101px;
    margin-right: 802px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4 .u-group-1 {
    width: 323px;
    margin-top: 24px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-4 .u-image-1 {
    width: 90px;
    height: 90px;
    margin-top: 8px;
    margin-left: 18px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-top: -54px;
    margin-right: 18px;
    margin-left: 108px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: -74px;
    margin-right: 599px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 288px;
    margin-top: 11px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 70px;
    height: 70px;
    margin-top: 17px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -43px;
    margin-right: 24px;
    margin-left: 111px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -63px;
    margin-right: 462px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 260px;
    margin-top: 36px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 5px;
  }

  .u-section-4 .u-image-1 {
    width: 80px;
    height: 80px;
    background-position: 29.89% 50%;
    margin-top: 8px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -47px;
    margin-right: 15px;
    margin-left: 95px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    width: 179px;
    margin-top: -132px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-5 {
  background-image: url("images/10a0802c367c7bd71b1352c485f925d3-m.jpg");
  background-position: 50% 50%;
  min-height: 544px;
}

.u-section-5 .u-group-1 {
  min-height: 544px;
  animation-duration: 1000ms;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.25));
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 95px;
}

.u-section-5 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 822px 0 10px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 80px 39px 0 10px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 708px 0 10px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 32px auto 0 10px;
  padding: 24px 30px 25px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 484px;
  }

  .u-section-5 .u-group-1 {
    min-height: 484px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 47px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 632px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-right: 488px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 37px;
    margin-left: 0;
    padding-top: 16px;
    padding-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 366px;
  }

  .u-section-5 .u-group-1 {
    min-height: 378px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 25px;
    padding-left: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 157px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    margin-top: 31px;
    margin-right: 116px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    margin-right: 396px;
    margin-left: 20px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 29px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 338px;
  }

  .u-section-5 .u-group-1 {
    min-height: 338px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 19px;
    margin-right: 93px;
    margin-left: 45px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 23px;
    margin-right: 93px;
    margin-left: 45px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 19px;
    margin-right: 260px;
    margin-left: 45px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 23px;
    margin-left: 45px;
    padding-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    background-position: 65.93% 50%;
    min-height: 271px;
  }

  .u-section-5 .u-group-1 {
    min-height: 271px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 28px;
    margin-right: 79px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 55px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 17px;
    margin-right: 59px;
    margin-left: 49px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 14px;
    margin-left: auto;
    padding: 13px 13px 13px 12px;
  }
}.u-section-6 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-6 .u-sheet-1 {
  min-height: 508px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 27px -22px 0;
}

.u-section-6 .u-text-2 {
  width: 244px;
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 17px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 26px 47px 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  border-style: solid;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 22px auto 0;
  padding: 25px 30px 26px;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0 94px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 456px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-shape-1 {
  width: 356px;
  height: 288px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 41px auto 0 74px;
}

.u-section-6 .u-image-1 {
  width: 385px;
  height: 281px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -312px auto 0 101px;
}

.u-section-6 .u-image-2 {
  width: 220px;
  height: 165px;
  object-position: 100% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -107px auto 0 17px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 41px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -7px;
    margin-right: -14px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 19px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-6 .u-btn-1 {
    padding-right: 31px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 42px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 25px;
  }

  .u-section-6 .u-shape-1 {
    width: 318px;
    height: 237px;
    margin-top: 8px;
    margin-left: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 325px;
    height: 226px;
    margin-top: -262px;
    margin-left: 53px;
  }

  .u-section-6 .u-image-2 {
    width: 228px;
    height: 152px;
    margin-top: -82px;
    margin-left: -12px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 68px;
    margin-left: 83px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.875rem;
    padding: 15px 14px 16px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-6 .u-shape-1 {
    width: 223px;
    height: 196px;
    margin-top: 16px;
    margin-left: 6px;
  }

  .u-section-6 .u-image-1 {
    width: 240px;
    height: 179px;
    margin-top: -213px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 163px;
    height: 123px;
    margin-top: -73px;
    margin-left: -9px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-6 .u-text-2 {
    width: 244px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    padding-bottom: 15px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-shape-1 {
    width: 217px;
    height: 192px;
    margin-top: -30px;
    margin-right: 142px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 241px;
    height: 199px;
    margin-top: 0;
    margin-right: 75px;
  }

  .u-section-6 .u-image-2 {
    width: 146px;
    height: 115px;
    margin-top: 0;
    margin-left: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 4px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.75rem;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.75rem;
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .u-section-6 .u-shape-1 {
    width: 143px;
    height: 114px;
    margin-top: -10px;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    width: 150px;
    height: 134px;
    margin-right: 48px;
  }

  .u-section-6 .u-image-2 {
    width: 104px;
    height: 81px;
    margin-left: 48px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 465px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 30px;
}

.u-section-7 .u-image-1 {
  min-height: 469px;
  background-image: url("images/ScreenShot2021-06-01at8.50.11PM.png");
}

.u-section-7 .u-layout-cell-2 {
  min-height: 469px;
}

.u-section-7 .u-container-layout-2 {
  padding: 23px 27px 12px 30px;
}

.u-section-7 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 28px 0 2px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 4px 2px 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 18px auto -18px;
  padding: 27px 30px 29px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 16px;
  }

  .u-section-7 .u-image-1 {
    min-height: 449px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 25px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 25px;
    padding-right: 31px;
    padding-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-7 .u-image-1 {
    min-height: 344px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 13px;
    padding-left: 14px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.875rem;
    padding: 18px 14px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .u-section-7 .u-image-1 {
    min-height: 189px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 34px;
    padding: 14px 27px 15px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 7px;
  }

  .u-section-7 .u-image-1 {
    min-height: 156px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 11px;
    padding-right: 8px;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 16px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.75rem;
    padding: 10px 12px 11px;
  }
}.activity{transform: rotate(-10deg);} 