.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/306747330-0.jpeg");
  background-position: 50% 46.42%;
}

.u-section-1 .u-sheet-1 {
  min-height: 418px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 853px;
  margin: 113px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  font-style: italic;
  background-image: none;
  text-decoration: none solid rgb(249, 231, 155);
  width: 635px;
  margin: 99px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 46.06%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 118px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-2 {
    width: 713px;
    margin-top: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin: 56px 4px 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 77px;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 540px;
    margin: 57px 0 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 75px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 23px;
    margin-bottom: 23px;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 362px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  width: 589px;
  margin: 34px auto 0;
}

.u-section-2 .u-group-1 {
  width: 512px;
  background-image: linear-gradient(white, #e5e5e5);
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  min-height: 236px;
  margin: 20px auto 20px 314px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 30px 16px;
}

.u-section-2 .u-image-1 {
  width: 200px;
  height: 199px;
  object-position: 21.41% 50%;
  background-image: url("images/1795594.0.jpg");
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -168px -6px 0 210px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 16px -17px 0 200px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 23px;
    margin-left: 214px;
  }

  .u-section-2 .u-image-1 {
    width: 199px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 23px;
    margin-left: 250px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 58px;
    margin-left: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-2 .u-group-1 {
    min-height: 254px;
    margin-bottom: 22px;
    margin-left: 104px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -176px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 44px;
    margin-left: 1px;
    margin-right: 1px;
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 458px;
    min-height: 222px;
    margin-top: 28px;
    margin-left: auto;
    margin-bottom: 14px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 167px;
    height: 167px;
    margin-top: 20px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -155px;
    margin-right: 28px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 7px;
    margin-right: 0;
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 48px;
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    min-height: 315px;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 150px;
    height: 150px;
    background-position: 29.89% 50%;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 26px;
    margin-right: 26px;
  }
}.u-section-3 {
  background-image: linear-gradient(#f2f2f2, #e5e5e5);
}

.u-section-3 .u-sheet-1 {
  min-height: 797px;
}

.u-section-3 .u-list-1 {
  min-height: 717px;
  grid-template-columns: calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px);
  grid-gap: 35px 35px;
  width: 1059px;
  margin: 20px auto 60px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  width: 167px;
  height: 167px;
  background-image: url("images/web-1363425.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px -81px 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 9px 0 18px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  width: 167px;
  height: 167px;
  background-image: url("images/Relief_Society_General_Meeting_Sisters.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px -81px 0;
}

.u-section-3 .u-text-4 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 9px 0 18px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-image-3 {
  width: 167px;
  height: 167px;
  background-image: url("images/GospelDoctrine.jpg");
  background-position: 67.37% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px -81px 0;
}

.u-section-3 .u-text-6 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 9px 0 18px;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-image-4 {
  width: 167px;
  height: 167px;
  background-image: url("images/YoungWomen.jpg");
  background-position: 53.13% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px -81px 0;
}

.u-section-3 .u-text-8 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 9px 0 18px;
}

.u-section-3 .u-list-item-5 {
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-image-5 {
  width: 167px;
  height: 167px;
  background-image: url("images/philippines-youth-visit-the-temple-1336810-print1.jpeg");
  background-position: 92.73% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px -81px 0;
}

.u-section-3 .u-text-10 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 9px 0 18px;
}

.u-section-3 .u-list-item-6 {
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-image-6 {
  width: 167px;
  height: 167px;
  background-image: url("images/YouthSundaySchool1.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px -81px 0;
}

.u-section-3 .u-text-12 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 9px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-list-1 {
    min-height: 718px;
    grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
    height: auto;
    grid-gap: 15px 15px;
    margin-top: 11px;
    margin-bottom: 30px;
    width: 940px;
  }

  .u-section-3 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 19px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 19px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-4 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 19px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-6 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 19px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-8 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 19px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-10 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 19px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-12 {
    margin-left: -2px;
    margin-right: -2px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1094px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    margin-bottom: 44px;
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 11px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 11px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 11px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 11px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 11px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 11px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px 20px;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 18px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 18px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 18px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 18px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 18px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 18px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 140px;
    height: 140px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 140px;
    height: 140px;
  }

  .u-section-3 .u-text-3 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 140px;
    height: 140px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 140px;
    height: 140px;
  }

  .u-section-3 .u-text-7 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-3 .u-image-5 {
    width: 140px;
    height: 140px;
  }

  .u-section-3 .u-text-9 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 10px;
  }

  .u-section-3 .u-image-6 {
    width: 140px;
    height: 140px;
  }

  .u-section-3 .u-text-11 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 10px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 384px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  width: 292px;
  margin: 13px auto 0;
}

.u-section-4 .u-group-1 {
  width: 446px;
  background-image: linear-gradient(white, #e5e5e5);
  box-shadow: 0 0 15px 0 rgba(179,179,179,1);
  min-height: 219px;
  animation-duration: 1000ms;
  margin: 20px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 30px 10px;
}

.u-section-4 .u-image-1 {
  width: 166px;
  height: 165px;
  object-position: 21.41% 50%;
  background-image: url("images/primary.jpg");
  background-position: 56.15% 50%;
  margin: 10px auto 0 8px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -145px 8px 0 197px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 28px 0 219px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 447px;
    margin-top: 15px;
    margin-bottom: 45px;
  }

  .u-section-4 .u-image-1 {
    width: 165px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -150px;
    margin-right: 24px;
    margin-left: 249px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: 29px;
    margin-left: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -144px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-4 .u-group-1 {
    width: 413px;
    margin-top: 26px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -148px;
    margin-left: 215px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
    margin-right: 38px;
    margin-left: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-4 .u-group-1 {
    min-height: 273px;
    margin-top: 24px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    width: 140px;
    height: 140px;
    background-position: 29.89% 50%;
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 6px;
    margin-left: 26px;
    margin-right: 26px;
  }
}.u-section-5 {
  background-image: url("images/10a0802c367c7bd71b1352c485f925d3-m.jpg");
  background-position: 50% 50%;
  min-height: 544px;
}

.u-section-5 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 671px);
  min-height: 544px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 95px;
}

.u-section-5 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  margin: 45px 325px 0 10px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 80px 39px 0 10px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 39px 0 10px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 49px auto 0 10px;
  padding: 15px 30px 17px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 531px;
  }

  .u-section-5 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 671px);
    min-height: 531px;
  }

  .u-section-5 .u-text-1 {
    margin-left: -48px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 48px;
    margin-left: -48px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 97px;
    margin-left: -48px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: -48px;
    padding-top: 16px;
    padding-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 524px;
  }

  .u-section-5 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 481px);
    min-height: 524px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 165px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 54px;
    margin-right: 74px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-right: 23px;
    margin-left: 20px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 31px;
    margin-left: 20px;
    padding-top: 15px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 503px;
  }

  .u-section-5 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 433px);
    min-height: 503px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 34px;
    margin-right: 122px;
    margin-left: 45px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 34px;
    margin-right: 27px;
    margin-left: 45px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 19px;
    margin-right: 27px;
    margin-left: 45px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 19px;
    margin-left: 45px;
    padding-top: 18px;
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    background-position: 65.93% 50%;
    min-height: 459px;
  }

  .u-section-5 .u-group-1 {
    min-height: 459px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 41px;
  }

  .u-section-5 .u-text-1 {
    width: 306px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 55px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 17px;
    margin-right: 59px;
    margin-left: 49px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 33px;
    margin-left: auto;
    padding-top: 19px;
    padding-right: 31px;
    padding-bottom: 21px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 495px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 70px -22px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 244px;
  font-size: 2.25rem;
  margin: 16px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 18px 47px 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  border-style: solid;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 22px auto 0;
  padding: 25px 30px 26px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-shape-1 {
  width: 356px;
  height: 288px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-image-1 {
  width: 385px;
  height: 281px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -312px 17px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 220px;
  height: 165px;
  object-position: 100% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -107px auto 0 17px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 53px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 19px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-6 .u-btn-1 {
    padding-right: 31px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 25px;
  }

  .u-section-6 .u-shape-1 {
    width: 318px;
    height: 237px;
    margin-top: 78px;
    margin-right: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 325px;
    height: 226px;
    margin-top: -262px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 228px;
    height: 152px;
    margin-top: -82px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 13px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 15px;
    margin-right: 68px;
    margin-left: 83px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 8px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-btn-1 {
    padding: 24px 15px 25px 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-6 .u-shape-1 {
    width: 223px;
    height: 196px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-6 .u-image-1 {
    width: 240px;
    height: 179px;
    margin-top: -213px;
  }

  .u-section-6 .u-image-2 {
    width: 163px;
    height: 123px;
    margin-top: -73px;
    margin-left: -9px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-6 .u-text-2 {
    width: 244px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-shape-1 {
    width: 217px;
    height: 192px;
    margin-top: 12px;
    margin-right: 142px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 241px;
    height: 199px;
    margin-top: -216px;
    margin-right: 75px;
  }

  .u-section-6 .u-image-2 {
    width: 146px;
    height: 115px;
    margin-top: -81px;
    margin-left: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 277px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    padding: 20px 29px 22px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .u-section-6 .u-shape-1 {
    width: 143px;
    height: 114px;
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    width: 150px;
    height: 134px;
    margin-top: -149px;
    margin-right: 48px;
  }

  .u-section-6 .u-image-2 {
    width: 104px;
    height: 81px;
    margin-top: -54px;
    margin-left: 48px;
  }
}.u-section-7 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-7 .u-sheet-1 {
  min-height: 428px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 24px 0 33px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 402px;
}

.u-section-7 .u-group-1 {
  width: 656px;
  min-height: 367px;
  margin: 0 0 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 15px 30px 9px;
}

.u-section-7 .u-image-1 {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 185px auto 0 338px;
}

.u-section-7 .u-image-2 {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -90px auto 0 426px;
}

.u-section-7 .u-image-3 {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -328px auto 0 149px;
}

.u-section-7 .u-image-4 {
  width: 170px;
  height: 170px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -34px auto 0 228px;
}

.u-section-7 .u-image-5 {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -211px auto 0 414px;
}

.u-section-7 .u-image-6 {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -29px auto 0 62px;
}

.u-section-7 .u-image-7 {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -48px auto 0 143px;
}

.u-section-7 .u-image-8 {
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -328px auto 0 323px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 402px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 7px 0 0 26px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 38px auto 0;
  padding: 27px 30px 29px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-7 .u-group-1 {
    width: 560px;
    min-height: 362px;
    margin-right: -8px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 179px;
    margin-right: 98px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -79px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: -324px;
    margin-left: 80px;
  }

  .u-section-7 .u-image-4 {
    margin-top: -56px;
    margin-left: 170px;
  }

  .u-section-7 .u-image-5 {
    margin-top: -202px;
    margin-left: 366px;
  }

  .u-section-7 .u-image-6 {
    margin-top: -5px;
    margin-left: 15px;
  }

  .u-section-7 .u-image-7 {
    margin-top: -63px;
    margin-left: 91px;
  }

  .u-section-7 .u-image-8 {
    margin-top: -340px;
    margin-left: 280px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 25px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 4px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 24px;
    padding-top: 25px;
    padding-right: 31px;
    padding-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-7 .u-group-1 {
    min-height: 313px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    width: 100px;
    height: 100px;
    margin-top: 159px;
    margin-right: 46px;
  }

  .u-section-7 .u-image-2 {
    width: 100px;
    height: 100px;
    margin-top: -67px;
    margin-right: -22px;
    margin-left: 258px;
  }

  .u-section-7 .u-image-3 {
    width: 100px;
    height: 100px;
    margin-top: -278px;
    margin-left: 34px;
  }

  .u-section-7 .u-image-4 {
    width: 150px;
    height: 150px;
    margin-top: -46px;
    margin-left: 86px;
  }

  .u-section-7 .u-image-5 {
    width: 100px;
    height: 100px;
    margin-top: -163px;
    margin-left: 256px;
  }

  .u-section-7 .u-image-6 {
    width: 100px;
    height: 100px;
    margin-top: -8px;
    margin-left: -20px;
  }

  .u-section-7 .u-image-7 {
    width: 100px;
    height: 100px;
    margin-top: -55px;
    margin-left: 41px;
  }

  .u-section-7 .u-image-8 {
    width: 100px;
    height: 100px;
    margin-top: -286px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 5px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -16px;
    margin-right: -5px;
    margin-left: -10px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 8px;
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 33px;
    margin-left: 6px;
    padding: 24px 15px 25px 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-7 .u-group-1 {
    min-height: 244px;
    margin-top: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-top: 117px;
    margin-right: 158px;
  }

  .u-section-7 .u-image-2 {
    width: 80px;
    height: 80px;
    margin-top: -56px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    width: 80px;
    height: 80px;
    margin-top: -204px;
    margin-left: 146px;
  }

  .u-section-7 .u-image-4 {
    width: 120px;
    height: 120px;
    margin-top: -40px;
    margin-left: 195px;
  }

  .u-section-7 .u-image-5 {
    width: 80px;
    height: 80px;
    margin-top: -140px;
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-7 .u-image-6 {
    width: 80px;
    height: 80px;
    margin-top: -20px;
    margin-left: 71px;
  }

  .u-section-7 .u-image-7 {
    width: 80px;
    height: 80px;
    margin-top: -44px;
    margin-left: 138px;
  }

  .u-section-7 .u-image-8 {
    width: 80px;
    height: 80px;
    margin-top: -208px;
    margin-right: 165px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -349px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-7 .u-text-2 {
    width: 408px;
    margin-top: 249px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
    margin-bottom: -6px;
    padding-right: 27px;
    padding-left: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-7 .u-group-1 {
    min-height: 236px;
    margin-top: 41px;
    margin-bottom: -16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    margin-top: 136px;
    margin-right: 50px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -58px;
    margin-right: auto;
    margin-left: 240px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -221px;
    margin-left: 51px;
  }

  .u-section-7 .u-image-4 {
    margin-top: -30px;
    margin-left: auto;
  }

  .u-section-7 .u-image-5 {
    margin-top: -131px;
    margin-right: 3px;
  }

  .u-section-7 .u-image-6 {
    margin-top: -35px;
    margin-left: -10px;
  }

  .u-section-7 .u-image-7 {
    margin-top: -38px;
    margin-left: 45px;
  }

  .u-section-7 .u-image-8 {
    margin-top: -221px;
    margin-right: 65px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -330px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: 261px;
    margin-left: 20px;
    margin-right: 20px;
    width: 325px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 7px;
    margin-bottom: 0;
    padding: 20px 29px 22px;
  }
}